ASSISTANT_HOST = http://127.0.0.1:8000
MODEL_HOST = http://127.0.0.1:11434
DB_NAME = ollamallm
DB_USER = postgres
DB_PASS = postgres
DB_HOST = 127.0.0.1
DB_PORT = 54321
DISCORD_BOT_TOKEN = MTQ5NzU3OTIxMzUyMjQ3Mjk3MA.GLCByE.8sh23WhQO_jmn01d4Zjr5RmXX7bqRBhve8njkw