ASSISTANT_HOST = http://127.0.0.1:8000
MODEL_HOST = http://127.0.0.1:11434


DB_NAME = ollamallm
DB_USER = postgres
DB_PASS = postgres
DB_HOST = 127.0.0.1
DB_PORT = 54321


GOOGLE_AI_API_KEY = EXAMLPE
DISCORD_BOT_TOKEN = EXAMLPE